* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    
   
}
html {
    scroll-behavior: smooth;
}



body {
    background: #000000;
    margin-top: 100px;
    color: #ffffff;
}

.secao {
    padding: 100px 4%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    padding: 20px;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 50px;
    
}

header ul li a {
    text-decoration: none;
    color: white;

    display: block;

    background-color: #043be2;

    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;

}





ul li a:hover {
    background-color: #041399fc;
    /* Cor do botão ao passar o mouse */
    transform: scale(1.1);
    /* Aumenta o tamanho do botão */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   
}

ul li a:active {
    transform: scale(1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    


}


.img-principal img {
    mask-image: linear-gradient(to bottom, #000000 25%, rgba(0, 0, 0, 0.01) 95%);
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    min-height: 85vh;
    margin-left: 30px;
}


.principal h1 {
    font-size: 80px;
    letter-spacing: -5px;
}

.principal h1 span {
    color: #0056b3;
}

.principal p {
    font-size: 20px;

    max-width: 500px;
    color: #bbb;

    word-wrap: break-word;
    text-align: justify;
}

.botao {
    display: inline-block;
    padding: 8px 12px;
    background-color: #043be2;

    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s ease;
    text-align: center;
}

.titulo-secao {
    font-size: 42px;
    margin-bottom: 60px;
    position: relative;
}

.titulo-secao::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 130px;
    height: 4px;
    background-color: #043be2;
}

.grad-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
}


.img-projeto {
    width: 100%;
    object-fit: contain;
    height: 400px;
    border-radius: 10px 10px 0 0;
    min-height: 200px;


}


.info-projeto {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.projeto a {
    margin-top: auto;
    width: 60%;
    text-align: center;
}



.info-projeto p {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 14px;
    flex-grow: 1;
}
.projeto:hover .img-projeto {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}
.img-projeto {
    transition: transform 0.4s ease;
}




/* Estiliza a seção Meus Projetos */
.meus-projetos {

    text-align: center;
    margin: 100px 0;

}

/* Título principal */
.meus-projetos h2 {
    font-size: 2em;
    /* color: #e1e8ef; */

    border-bottom: 3px solid #9dc4f1;
    display: inline-block;
    padding-bottom: 5px;
    /* margin-bottom: 10px; */
}

.projeto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribui espaço igualmente */
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 100%;
    /* Para manter todos do mesmo tamanho */
    min-height: 500px;
    /* Definir uma altura mínima evita distorções */
    padding: 20px;
    box-sizing: border-box;
    background-color: #111;
    text-align: center;
}


/* Efeito de hover nos cards */
.projeto:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Títulos dos projetos */
.projeto h3 {
    font-size: 1.5em;
    color: #0e079d;
    margin-bottom: 15px;
    flex-grow: 1;



}

/* Links "Ver Projeto" */

.projeto a {
    margin-top: auto;
    color: rgb(7, 61, 177);
    width: 60%;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid rgb(7, 61, 177);


}

/* Efeito hover nos links */
.projeto a:hover {
    color: #fff;
    background-color: #052b95;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);


}

a {
    text-decoration: none;
    color: inherit;
}


.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    max-width: 1200px;
    margin-top: 150px;
    padding: 80px 0;
}

.img-sobre {
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    transition: transform 0.4s ease;
}

.img-sobre:hover {
    transform: scale(1.02);
}



.conteudo-sobre h2 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #ffffff;
}

.conteudo-sobre p {
    margin-bottom: 20px;
    color: #bbb;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tag-habilidades {
    font-size: 16px;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #0c49f0;
    background-color: rgba(77, 124, 254, 0.2);
    font-weight: 500;
    transition: transform 0.3s ease;
}
.tag-habilidades:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(4, 59, 226, 0.6);
}

.botoes-contatos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.botao-contato {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    min-width: 160px;
    text-decoration: none;
    color: #ffffff;
}
/* Efeito ao passar o mouse */
.botao-contato:hover {
    transform: scale(1.05); /* Aumenta levemente o botão */
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3); /* Adiciona um brilho */
    filter: brightness(1.2); /* Deixa a cor mais intensa */
}



.footer {
    background: #111;
    color: #bbb;
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px;
}

.footer .container {
    max-width: 1200px;
    margin: auto;
}

.footer p {
    margin-bottom: 10px;
    font-size: 14px;
}


.botoes-contatos svg {
    width: 24px;
    height: 24px;
}

.whatsapp {
    background-color: #25d366;

}

.email {
    background-color: #ea4335;
}

.linkedin {
    background-color: #0077b5;
}

.github {
    background-color: #333333;
}

.instagram {
    background-color: #E4405F;
    color: white;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: row; /* Mantém os botões na horizontal */
        flex-wrap: nowrap ;/* Permite que os itens se ajustem se necessário */
        justify-content: center;
        gap: 5px;
    }

    header ul {
        flex-direction: row; /* Mantém a disposição horizontal */
        flex-wrap: nowrap; /* Caso os botões não caibam, quebra para outra linha */
        gap: 5px; /* Ajusta o espaçamento */
    }
    header ul li a {
        padding: 8px 15px; /* Reduz o tamanho dos botões */
        font-size: 14px; /* Ajusta o tamanho do texto */
    }
 
     .principal {
        flex-direction: column-reverse;
        text-align: center;
    } 

     .principal h1 {
        font-size: 50px;
        letter-spacing: -2px;
    } 

     .principal p {
        font-size: 18px;
        max-width: 100%;
        padding: 0 20px; 
    }

    .grad-projetos {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
        padding: 20px;
    }

    .sobre {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }

    .img-sobre {
        height: 250px;
    }

   
}